<a href="https://colab.research.google.com/github/bhupindersingh0/Google-Colab/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def xyz():
  print("Hello World")
xyz()

Hello World

In [ ]:
def add(a,b):
  return (a+b)
x = add(10,30)
y = add(60,50)
print(x,y)

40 110

In [ ]:
def bio_data():
  name = "Bhupinder Singh"
  salary = 100000
  address = "Barnala"
  print("Name : ",name)
  print("Salary : ",salary)
  print("Address : ",address)
bio_data()

Name :  Bhupinder Singh
Salary :  100000
Address :  Barnala

In [ ]:
def add():
   sum = 0
   for i in range(0,11):
     sum = sum + i
     print(sum)
add()

0
1
3
6
10
15
21
28
36
45
55

In [ ]:
def add(n):
   sum = 0
   for i in range(0,n+1):
      sum = sum + i
   print(sum)

add(55)

1540

In [ ]:
def fib(n):
     first = 0
     second = 1
     for i in range (0,n+1):
      third = first + second
      first = second
      second = third
      print(third)
fib(15)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

In [ ]:
def fact(n):
  factorial1 = 1
  for i in range(1,n+1):
    factorial1 = factorial1*i
  print(factorial1)
fact(10)

3628800

In [ ]:
def Si():
  p = 1000
  r = 10
  t = 2
  a = (p*r*t)/100
  print(a)
Si()

200.0

In [44]:
def fact(n):
  sum = 0
  factorial1 = 1
  for i in range(1,n+1,2):
      for j in range(1,i+1):
       factorial1 = factorial1*j
      print(factorial1)
  sum = sum + factorial1
  print(sum)
fact(8)

1
6
720
3628800
3628800

In [54]:
def add_num(*item):
   return sum(item)
print(add_num(6,5))

11

In [76]:
def add(*args):
  sum = 0
  for i in args:
    sum = sum + i
  print(sum)

add(1,4,100,5246,99526)

104877

In [2]:
def add(**kwargs):
  for key,value in kwargs.items():
    print(kwargs)
add(a="Bhupinder Singh", age = 21, village = "Bhure" )

{'a': 'Bhupinder Singh', 'age': 21, 'village': 'Bhure'}
{'a': 'Bhupinder Singh', 'age': 21, 'village': 'Bhure'}
{'a': 'Bhupinder Singh', 'age': 21, 'village': 'Bhure'}

In [ ]:
a = 10
b = 20
print(f"Sum of {a} and {b} : is {a+b}")

In [ ]:
def leap_y():

  principle = int(input("Enter principle"))
  rate = int(input("Enter rate"))
  t = int(input("Enter time"))
  si = (p*r*t)/100
  year = int(input("Enter Year"))1

  if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("this leap year")
leap_y()