<a href="https://colab.research.google.com/github/bhupindersingh0/Google-Colab/blob/main/IF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Day = input("Enter the day : ")
if Day == "saturday":
     print("weekend")
elif Day == "sunday":
     print("Weekend")
else :
    print("weekday")

Enter the day : monday
weekday

In [ ]:
Pant = 1500
QuantityP = int(input("Quantity of Pant : "))
Total =Pant * QuantityP
Shirt = 1200
QuantityS = int(input("Quantity of Shirt : "))
Total2 =Shirt * QuantityS
Belt = 600
QuantityB = int(input("Quantity of Belt: "))
Total3 =Belt * QuantityB
Shoe = 2500
QuantityS = int(input("Quantity of Shoe : "))
Total4 =Shoe * QuantityS



# Calculate discounts


Discount12 = Total * 10 / 100
Discount22 = Total2 * 20 / 100
Discount23 = Total3 * 15 /100
Discount23 = Total3 * 5 /100



# Calculate the total cart price after discounts
Cart = (Total - Discount12) + (Total2 - Discount22) + (Total3 - Discount23) + (Total4 - Discount22)
Cart1 = Total + Total2 + Total3 + Total4


Couponcode = input("Apply Coupon Code : ")
if Couponcode == "Newten" :
  print("Rs : ",Cart)
else :
  print("Rs : ",Cart1)





print("Address")

House = input("House No. :")
Locality = input("Locality : ")
City = input("City : ")
District = input("District : ")
Pincode = int(input("Pincode : "))
State = input("State : ")
Mobile_No = int(input("Mobile No. : "))
Email_id = input("Email ID :")

In [ ]:
print("Welcome to Bank")
print("1.Deposit")
print("2.Withdraw")
print("3.Know your balance")

Opening_balance = 50000
print("Opening_balance : ",Opening_balance)

choose = int(input("Choose the option : "))

if choose == 1:
  Deposit = int(input("Deposit Amt. : "))
  Bal1 = Opening_balance + Deposit
  print("Closing Balance : ",Bal1)

elif choose == 2:
  Withdraw = int(input("Withdraw Amt. : "))
  Bal2 = Opening_balance - Withdraw
  print("Closing Balance : ",Bal2)

elif choose == 3:
  print("Closing Balance",Opening_balance)

else:
  print("Invalid option")

Welcome to Bank
1.Deposit
2.Withdraw
3.Know your balance
Opening_balance :  50000
Choose the option : 2
Withdraw Amt. : 12000
Closing Balance :  38000

In [ ]:
print("Welcome to Bank")
print("1.Deposit")
print("2.Withdraw")
print("3.Know your balance")

Opening_balance = 50000
print("Opening_balance : ",Opening_balance)

print("Please Enter Your Details")
Date = int(input("Date : "))
Account_no = int(input("Account No. : "))
Name = input("A/c Holder Name : ")

choose = int(input("Choose the option : "))

Amt1 = int(input("Fill Amt. : "))
Payee_sign = input("Payee's Signnature : ")
if choose == 1:
  #Deposit = int(input("Deposit Amt. : "))
  Bal1 = Opening_balance + Amt1
  print("Closing Balance : ",Bal1)

elif choose == 2:
  #Withdraw = int(input("Withdraw Amt. : "))
  Bal2 = Opening_balance - Amt1
  print("Closing Balance : ",Bal2)

elif choose == 3:
  print("Closing Balance",Opening_balance)

else:
  print("Invalid option")

Welcome to Bank
1.Deposit
2.Withdraw
3.Know your balance
Opening_balance :  50000
Please Enter Your Details
Date : 1205062
Account No. : 14361000009060
A/c Holder Name : Bhupinder Singh
Choose the option : 3
Fill Amt. : 5455
Payee's Signnature : bhupinder singh
Closing Balance 50000

In [ ]:
gender = input(" Enter your Gender : ")
age =int(input(" Enter your Age : "))
con = int(age)
if gender == "Male" :
  if age <=20:
    print("Hotel assigned A")
  else :
    print ("Hotel assigned B")
elif gender == "Female" :
  if age <=20:
    print("Hotel assigned I")
  else :
    print ("Hotel assigned II")
else:
  print("Hotel not assigned")

 Enter your Gender : Female
 Enter your Age : 12
Hotel assigned I

In [ ]:
from __future__ import division
print("Reportcard")
marks = int(input("Enter your marks :"))
if marks >=60:
   print("First Division")
   if marks >= 90:
      print("Execllenet")
   elif marks >= 80:
       print("Very Good")
   elif marks >= 70:
       print(" Good")
   elif marks >= 60:
       print("Better")
if marks <=60:
  print("Second Division")
  if marks <= 60:
       print("You need to do hardwork")

Reportcard
Enter your marks :55
Second Division
You need to do hardwork

In [ ]:
print("Train System")
print("1.First class")
print("2.Second class")
print("3.Third class")

Chose = int(input("Choose the class : "))

if Chose == 1:
  print("Your ticket Booked in First class :")
elif Chose == 2:
    print("Your ticket Booked in Second class : ")
elif Chose == 3:
    print("Your ticket Booked in Third class : ")
    age = int(input("Choose the Age"))
    if age >=60:
      print("Lower berth")
    elif age >=30 and age <60:
      print("Middle berth")
    else :
      print("Upper Berth")
else :
  print("You invalid option")

Train System
1.First class
2.Second class
3.Third class
Choose the class : 3
Your ticket Booked in Third class :
Choose the Age36
Middle berth

In [ ]:
a = [10,20,30,40]

'''print(a)
print(a[0])
print(a[2])
print(a[-1])'''
for i in a:
  print(i)

10
20
30
40

In [ ]:
item = ["Pizza", "Burger", "Fries", "Softdrinks"]
for i in item:
  print(i)

Pizza
Burger
Fries
Softdrinks

In [ ]:
for i in range(10,1,-1):
 print("*"*i)

**********
*********
********
*******
******
*****
****
***
**

In [ ]:
for i in range(1,10):
 print("*"*i)

  *
  **
  ***
  ****
  *****
  ******
  *******
  ********
  *********

In [10]:
n = 5
for i in range(1,n+1):
   print(" " * (n-i)+"*" *(2*i-1))

    *
   ***
  *****
 *******
*********